{layout="layouts/index"}
<nav class="signup-breadcrumb">
	<ul class="signup-breadcrumb__list">
		<li>Create an Account</li>
		<li class="active">Make Payment</li>
	</ul>
</nav>
<header class="membership-header">
	<h2>Welcome to BABC PNW</h2>
	<section class="intro-section">
		<p>Thank you for your payment. You will soon receive an email with your payment confirmation, as well a welcome email with your account details.</p>
	</section>
</header>

<div class="button-group">
	<a href="/" class="btn">Go back home</a> or <a href="/members" class="btn btn--outline">visit your profile page</a>
</div>