{layout="layouts/index"}

<!-- Rich Headline -->
<!-- Rich Headline -->
<header class="headline headline--rich" style="background-image: url(/assets/img/seattle-skyline.jpg);">
	<div class="overlay" style="background-color: rgba(17, 17, 17, 0.5);">
		<div class="headline__content">
			<h1>About Us</h1>
			<div class="caption">
				<p>Fostering commerce, friendship and economic growth between the United States and the United Kingdom</p>
			</div>
		</div>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<div class="about">
			<div class="about__body">
				<h2>Introduction to the BABC</h2>
				<div class="babc-intro">
					<p>The BABC Pacific Northwest is an active member of the British American Business Council, the largest transatlantic business network, with 25 chapters and 2,500 member companies, including many of the world's largest multinationals, based in major business centers throughout North America and the United Kingdom.</p>
					<p>Our members can take advantage of our participation in the BABC to extend their own business network, and connect directly with the members of all its other chapters, through their exclusive access to the BABC password-protected Online Membership Directory, and by participating in the events run by other BABC chapters at the local member rate, and in the BABC Annual Transatlantic Business Conferences.</p>
					<div class="learn-more">
						<a href="#" class="btn btn--rounded">Learn More</a> &nbsp;
						<a href="#" class="btn btn--rounded btn--outline">Meet our Board</a>
					</div>
				</div>
			</div>
			<div class="about__aside">
				<div class="card">
					<header class="card__header text-center">
						<h2>What members are saying...</h2>
					</header>
					<div class="card__body">
						<div class="quote">
							<div class="quote__photo">
								<img src="/assets/img/testimonial-photos/peter-rose.jpg" alt="Peter Rose">
							</div>
							<div class="quote__post">
								<blockquote>
									<span class="iconic iconic--quote quote-mark" data-glyph="double-quote-serif-left"></span>
									<p>
										We at Expeditors appreciate the industry contacts and suggest you use the BABC and its member companies in addition to its connection with the British government as assistance in setting up or settling in the UK.
									</p>
								</blockquote>
							</div>
							<div class="quote__meta">
								<h4 class="quote-name">Peter Rose</h4>
								<p class="quote-title">Chairman &amp; CEO</p>
								<p class="quote-company">Expeditors Internatioal</p>
							</div>
						</div>
					</div>
					<div class="card__footer text-center">
						<a href="#">Join BABC-PNW Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="service-container">
	<section class="about__services">
				
		<header class="service-header">
			<h2>Our Services</h2>
			<p>The BABC offers members access to a broad range of other services including:</p>
		</header>

		<div class="service-grid">
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/visa.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="clipboard"></span>
					    	<h3>J1 Visa Program</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>J1 Visa Program</h4>
					      <p>The J1 Visa program, enabling member companies to bring qualified employees into the USA.</p>
					    </div>
					  </div>
				  </div>
				  
				</div>
			</div>
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/roladex.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="network"></span>
					    	<h3>Business Database</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>Business Database</h4>
					      <p>Extensive business databases providing detailed financial, descriptive and ownership information on the top 300,000 companies in 38 European countries and the top 350,000 US and Canada-based companies.</p>
					    </div>
					  </div>
				  </div>
				  
				</div>
			</div>
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/marketing.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="easel"></span>
					    	<h3>Marketing opportunities</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>Marketing Opportunities</h4>
					      <p>A range of marketing opportunities to promote their goods and services to other member companies throughout the BABC network. </p>
					    </div>
					  </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="service-grid">
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/money.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="calculator"></span>
					    	<h3>Money-Saving Opportunities</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>Money-Saving Opportunities</h4>
					      <p>A range of money-saving opportunities to take advantage of the discounts offered by other BABC member companies on their goods and services.</p>
					    </div>
					  </div>
				  </div>
				  
				</div>
			</div>
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/investment.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="bar-chart"></span>
					    	<h3>Investment News</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>Investment News</h4>
					      <p>Regular business/economic updates ("Investment News"), prepared and circulated by the BABC for its member companies.</p>
					    </div>
					  </div>
				  </div>
				  
				</div>
			</div>
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('/assets/img/policy.jpg');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="inkwell"></span>
					    	<h3>Policy Updates</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>Policy Updates</h4>
					      <p>Regular policy updates ("Policy Focus"), also circulated by the BABC for its member companies, summarizing major policy developments in Brussels, London and Washington, DC, and policy initiatives taken on behalf of BABC member companies.</p>
					    </div>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	</section>
</div>