{layout="layouts/index"}

{exp:channel:entries
	disable="categories|category_fields|member_data|pagination|trackbacks"
}
{about_banner}
<header class="headline headline--rich" style="background-image: url('{background}');">
	<div class="overlay" style="background-color: rgba(17, 17, 17, 0.5);">
		<div class="headline__content">
			<h1>{title}</h1>
			<div class="caption">
				{caption}
			</div>
		</div>
	</div>
</header>
{/about_banner}
<main class="main main--white">
	<div class="main-container">
		<div class="about">
			<div class="about__body">
				<div class="babc-intro">
					{about_body}
					<div class="learn-more">
						<a href="#" class="btn btn--rounded">Learn More</a> &nbsp;
						<a href="/about/board" class="btn btn--rounded btn--outline">Meet our Board</a>
					</div>
				</div>
			</div>
			<div class="about__aside">
				{about_testimonials}
				{embed="partials/_testimonial-card" entry_id="{entry_id}"}
				{/about_testimonials}
			</div>
		</div>
	</div>
</main>

<div class="service-container">
	<section class="about__services">
				
		<header class="service-header">
			<h2>Our Services</h2>
			<p>The BABC offers members access to a broad range of other services including:</p>
		</header>
		
		{about_services}
		{switch="<div class='service-grid'>||"}
			<div class="service">
				<div class="hover-tile-outer" style="background-image:url('{background}');">
				  <div class="overlay">
				  	<div class="hover-tile-container">
					    <div class="hover-tile hover-tile-visible">
					    	<span class="iconic iconic-md-lg title-icon" data-glyph="{icon}"></span>
					    	<h3>{label}</h3>
					    </div>
					    <div class="hover-tile hover-tile-hidden">
					      <h4>{label}</h4>
					      <p>{description}</p>
					    </div>
					  </div>
				  </div>
				</div>
			</div>
			{if row_count != total_rows}{switch="||</div>"}{/if}
      {if row_count == total_rows}</div>{/if}
		{/about_services}
		
		
	</section>
</div>
{/exp:channel:entries}