{layout="layouts/index"}

{exp:channel:entries
	disable="categories|category_fields|member_data|pagination|trackbacks"
	require_entry="yes"
}
<header class="headline">
	<div class="headline__content">
		<ul class="breadcrumbs">
			{exp:structure:breadcrumb wrap_each="li" separator="" here_as_title="yes"}
		</ul>
		<h1>Directors &amp; Staff</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<section class="leadership-bio">
			<div class="leadership__row">
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff {if staff_officer}staff--officer{/if}">
								{staff_meta}
								<div class="staff__picture">
									<a href="{page_url}"><img src="{photo}" alt="{title}"></a>
								</div>
								{/staff_meta}
								<div class="staff__meta">
									<div class="staff-name">{title}</div>
									{staff_meta}
									<div class="staff-company">{company}</div>
									<div class="staff-title">{role}</div>
									{/staff_meta}
								</div>
								<div class="staff__links">
									<a href="{page_url}">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									{staff_social}
									<a href="{url}" target="_blank">
										<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
									</a>
									{/staff_social}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="biography">
					<h1>{title}</h1>
					{staff_bio}
				</div>
			</div>
		</section>
	</div>
</main>
{/exp:channel:entries}