{layout="layouts/index"}

<!-- Rich Headline -->
<header class="headline">
	<div class="headline__content">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><a href="/">About</a></li>
			<li class="last">Board</li>
		</ul>
		<h1>Directors &amp; Staff</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<section class="leadership">
			<div class="leadership__row">
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/caroline.jpg" alt="Caroline Kay"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Caroline Kay</div>
									<div class="staff-company">Becauz</div>
									<div class="staff-title">Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-facebook" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-twitter" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/brian.jpg" alt="Catherine Filippini"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Brian Esler</div>
									<div class="staff-company">Miller Nash LLP</div>
									<div class="staff-title">Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-facebook" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff staff--officer">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/catherine.jpg" alt="Catherine Filippini"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Catherine Filippini</div>
									<div class="staff-company">BABC-PNW</div>
									<div class="staff-title">Executive Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-facebook" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="leadership__row">
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff staff--officer">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/gareth.jpg" alt="Gareth Wade"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Gareth Wade</div>
									<div class="staff-company">OneAccord Partners</div>
									<div class="staff-title">Vice Chair</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-twitter" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/robin.jpg" alt="Robin Twyman"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Robin Twyman</div>
									<div class="staff-company">UK Consul, Seattle</div>
									<div class="staff-title">Ex-Officio Member</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-twitter" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/andy.jpg" alt="Andy MacRitchie"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Andy MacRitchie</div>
									<div class="staff-company">British Honorary Consul, Oregon</div>
									<div class="staff-title">Ex-Officio Member</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="leadership__row">
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/ian.jpg" alt="Ian Toner"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Ian Toner</div>
									<div class="staff-company">Wurts &amp; Associates</div>
									<div class="staff-title">Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff staff--officer">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/jason.jpg" alt="Jason Knight"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Jason Knight</div>
									<div class="staff-company">KPMG</div>
									<div class="staff-title">Treasurer</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/stephen.jpg" alt="Stephen Hodges"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Stephen Hodges</div>
									<div class="staff-company">Expeditors</div>
									<div class="staff-title">Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-linkedin" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="leadership__row">
				<div class="board-officers">
					<p><span class="board-officers-chip"></span> Board Officers</p>
				</div>
			</div>
			<div class="leadership__row">
				<div class="card card--newsletter">
					<header class="card__header">
						<h2>Signup for our newsletter</h2>
					</header>
					<div class="card__body card__body--padded">
						<p>You’ll receive news and event updates, community perspectives and much more!</p>
						<div class="newsletter">
							<form action="#" class="newsletter__form">
								<div class="form-group inline-form-group">
									<input type="text" class="form-control inline-control newsletter-control" placeholder="Enter your email">
									<button type="submit" class="btn--newsletter">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<aside class="leadership-sidebar">
			<div class="card">
				<header class="card__header text-center">
					<h2>What the former Chairman is saying...</h2>
				</header>
				<div class="card__body">
					<div class="quote quote--alt">
						<div class="quote__photo">
							<img src="/assets/img/staff/tom.jpg" alt="Tom Hartley">
						</div>
						<div class="quote__post">
							<blockquote>
								<span class="iconic iconic--quote quote-mark" data-glyph="double-quote-serif-left"></span>
								<p>
									It's hard to believe that we set up this chapter way back in 1995.
								</p>
								<p>Since that time the BABCPNW has grown and developed into a well run and well supported organization that delivers good value to its members and at the same time enables them to enjoy social events and connect where common business interests occur.</p>
							</blockquote>
						</div>
						<div class="quote__meta">
							<h4 class="quote-name">Tom Hartley</h4>
							<p class="quote-title">Chairman-Emeritus <br> BABC-PNW</p>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</div>
</main>