{layout="layouts/index"}

<!-- Rich Headline -->
<header class="headline">
	<div class="headline__content">
		<ul class="breadcrumbs">
			{exp:structure:breadcrumb wrap_each="li" separator="" here_as_title="yes"}
		</ul>
		<h1>Directors &amp; Staff</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<section class="leadership">
			<header class="leadership__header">
				<h2>Board Members</h2>
			</header>
			{exp:low_reorder:entries set="board_members"
				channel="board"
				disable="categories|category_fields|member_data|pagination|trackbacks"
				dynamic="off"
				search:staff_department="=not staff_member|ex_officio"
			}
			{switch="<div class='leadership__row'>||"}
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff {if staff_officer}staff--officer{/if}">
								{staff_meta}
								<div class="staff__picture">
									<a href="{page_url}">
										{if photo}
										<img src="{photo}" alt="{title}">
										{if:else}
										<img src="/assets/img/staff-avatar.svg" alt="{title}">
										{/if}
									</a>
								</div>
								{/staff_meta}
								<div class="staff__meta">
									<div class="staff-name">{title}</div>
									{staff_meta}
									<div class="staff-company">{company}</div>
									<div class="staff-title">{role}</div>
									{/staff_meta}
								</div>
								<div class="staff__links">
									<a href="{page_url}">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									{staff_social}
									<a href="{url}" target="_blank">
										<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
									</a>
									{/staff_social}
								</div>
							</div>
						</div>
					</div>
				</div>
			{if count != total_results}{switch="||</div>"}{/if}
      {if count == total_results}</div>{/if}
			{/exp:low_reorder:entries}

			<div class="leadership__row">
				<div class="board-officers">
					<p><span class="board-officers-chip"></span> Board Officers</p>
				</div>
			</div>
			<header class="leadership__header">
				<h2>Ex Officio</h2>
			</header>
			{exp:low_reorder:entries set="board_members"
				channel="board"
				disable="categories|category_fields|member_data|pagination|trackbacks"
				dynamic="off"
				search:staff_department="=not staff_member|board_member"
			}
			{switch="<div class='leadership__row'>||"}
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff {if staff_officer}staff--officer{/if}">
								{staff_meta}
								<div class="staff__picture">
									<a href="{page_url}">
										{if photo}
										<img src="{photo}" alt="{title}">
										{if:else}
										<img src="/assets/img/staff-avatar.svg" alt="{title}">
										{/if}
									</a>
								</div>
								{/staff_meta}
								<div class="staff__meta">
									<div class="staff-name">{title}</div>
									{staff_meta}
									<div class="staff-company">{company}</div>
									<div class="staff-title">{role}</div>
									{/staff_meta}
								</div>
								<div class="staff__links">
									<a href="{page_url}">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									{staff_social}
									<a href="{url}" target="_blank">
										<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
									</a>
									{/staff_social}
								</div>
							</div>
						</div>
					</div>
				</div>
			{if count != total_results}{switch="||</div>"}{/if}
      {if count == total_results}</div>{/if}
			{/exp:low_reorder:entries}

			<header class="leadership__header">
				<h2>Staff Members</h2>
			</header>
			{exp:low_reorder:entries set="board_members"
				channel="board"
				disable="categories|category_fields|member_data|pagination|trackbacks"
				dynamic="off"
				search:staff_department="=not ex_officio|board_member"
			}
			{switch="<div class='leadership__row leadership__row--last'>||"}
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff {if staff_officer}staff--officer{/if}">
								{staff_meta}
								<div class="staff__picture">
									<a href="{page_url}">
										{if photo}
										<img src="{photo}" alt="{title}">
										{if:else}
										<img src="/assets/img/staff-avatar.svg" alt="{title}">
										{/if}
									</a>
								</div>
								{/staff_meta}
								<div class="staff__meta">
									<div class="staff-name">{title}</div>
									{staff_meta}
									<div class="staff-company">{company}</div>
									<div class="staff-title">{role}</div>
									{/staff_meta}
								</div>
								<div class="staff__links">
									<a href="{page_url}">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									{staff_social}
									<a href="{url}" target="_blank">
										<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
									</a>
									{/staff_social}
								</div>
							</div>
						</div>
					</div>
				</div>
			{if count != total_results}{switch="||</div>"}{/if}
      {if count == total_results}</div>{/if}
			{/exp:low_reorder:entries}
			<div class="leadership__row">
				{embed="partials/_newsletter-card"}
			</div>
		</section>
		<aside class="leadership-sidebar">
			<div class="card">
				<header class="card__header text-center">
					<h2>What the former Chairman is saying...</h2>
				</header>
				<div class="card__body">
					<div class="quote quote--alt">
						<div class="quote__photo">
							<img src="/assets/img/staff-photos/tom.jpg" alt="Tom Hartley">
						</div>
						<div class="quote__post">
							<blockquote>
								<span class="iconic iconic--quote quote-mark" data-glyph="double-quote-serif-left"></span>
								<p>
									It's hard to believe that we set up this chapter way back in 1995.
								</p>
								<p>Since that time the BABCPNW has grown and developed into a well run and well supported organization that delivers good value to its members and at the same time enables them to enjoy social events and connect where common business interests occur.</p>
							</blockquote>
						</div>
						<div class="quote__meta">
							<h4 class="quote-name">Tom Hartley</h4>
							<p class="quote-title">Chairman-Emeritus <br> BABC-PNW</p>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</div>
</main>