{layout="layouts/index"}

<!-- Rich Headline -->
<header class="headline">
	<div class="headline__content">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><a href="/">About</a></li>
			<li><a href="/">Board</a></li>
			<li class="last">Caroline Kay</li>
		</ul>
		<h1>Directors &amp; Staff</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<section class="leadership-bio">
			<div class="leadership__row">
				<div class="leader">
					<div class="card">
						<div class="card__body">
							<div class="staff">
								<div class="staff__picture">
									<a href="#"><img src="/assets/img/staff/caroline.jpg" alt="Caroline Kay"></a>
								</div>
								<div class="staff__meta">
									<div class="staff-name">Caroline Kay</div>
									<div class="staff-company">Becauz</div>
									<div class="staff-title">Director</div>
								</div>
								<div class="staff__links">
									<a href="#">
										<span class="iconic" data-glyph="info" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-facebook" aria-hidden="true"></span>
									</a>
									<a href="#">
										<span class="iconic" data-glyph="social-twitter" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="biography">
					<h1>Caroline Kay</h1>
					<p class="lead">A seasoned operations leader and an international convention and event management consultant, Caroline Kay directs BECAUZ’s international operations, the BECAUZ Accelerator Program ™ and the firm’s global team of facilitators, coaches and consultants. Caroline joined BECAUZ in 2010.</p>
					<p>To enable BECAUZ to meet the expanding demands of its global client base, Caroline blends big ideas and creativity with meticulous operational management. Excellence in execution is balanced by ingenuity and energy—enabling BECAUZ to deliver tangible, measureable business results for clients.</p>
					<p>Much of Caroline’s career has focused on the creation and management of large-scale international leadership programs, conferences, and events for multinational clients including British Telecommunications, HP, Avanade, Microsoft, GSK, Lexus and Compaq. With deep cultural understanding, she has directed nearly 1,200 events and conferences across Europe, the Americas, Asia, and the Middle East that were exciting, memorable, and delivered measurable ROI for her clients and partners.</p>
					<p>Prior to joining BECAUZ, Caroline was Chief Operating Officer and Director of Conference and Events for a high-profile international training and development organization. She received her education in the United Kingdom at the Southampton Institute in Hampshire, England.</p>
					<p>Even in her personal life, she thrives on organizing events. She also loves swimming, adventure racing and playing with her dog, Jack.</p>
					<h3>About <a href="www.BECAUZ.com" target="_blank">www.BECAUZ.com</a> - A Specialty Consulting Firm</h3>
					<p>BECAUZ accelerates breakthrough results for leaders and teams through high-performance coaching, consulting and facilitation. Global organizations such as Microsoft, Avanade and Point B have turned to the world-class coaches at BECAUZ to generate measurable and transformational business results.</p>
				</div>
			</div>
		</section>
	</div>
</main>