{layout="layouts/index" editorial="yes" entry_id="entry_id"}

{exp:channel:entries
	disable="category_fields|member_data|trackbacks"
}
{layout:set name="entry_id" value="{entry_id}"}
{article_banner}
{if background}
<header class="headline headline--rich" style="background-image: url('{background}');">
{if:else}
<header class="headline">
{/if}
{/article_banner}

	<div class="overlay" 
		{article_banner}
		style="background-color: rgba(17, 17, 17, 0.{overlay});"
		}
		{/article_banner}
	>
		<div class="headline__content">
			<div class="headline-categories">
				{categories}
        <a href="/news/category/{category_name}">{category_name}</a>
				{/categories}
			</div>
			<h1>{title}</h1>
			<div class="headline__meta">
				<span class="date">
					{entry_date format="%F %d, %Y @ %g:%i %A"}
				</span>
			</div>
		</div>
	</div>
</header>
<main class="main main--white">
	<div class="main-container">
		<article class="article">
			<aside class="author__aside">
				<div class="card">
					<div class="card__body">
						<div class="author">
							{exp:zoo_visitor:details member_id="{author_id}"}
							<div class="author__picture">
								<img src="{visitor:member_photo}" alt="{visitor:member_first_name} {visitor:member_last_name}">
							</div>
							<div class="author__meta">
								<div class="author-name">{visitor:member_first_name} {visitor:member_last_name}</div>
								<div class="author-title">{visitor:member_job_title}</div>
							</div>
							<div class="author__links">
								
								{visitor:member_social_links}
								<a href="{service_url}" target="_blank">
									<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
								</a>
								{/visitor:member_social_links}
								
							</div>
							{/exp:zoo_visitor:details}
						</div>
					</div>
					<footer class="card__footer card__footer--sm text-center">
						<a href="/author-posts/{author_id}">All Posts</a>
					</footer>
				</div>
			</aside>
			<div class="article__body">
				{article_body}
					{heading}
						<header class="article__header">
							{value}
						</header>
					{/heading}
					{wygwam}
						<section class="article__section">
							{value}
						</section>
					{/wygwam}
					{assets}
						{files}
							{if kind != "image"}
							<div class="article__file">
								<div class="file-header">
									<h4>Sponsor Form</h4>
									<p>Gain access to our bad ass sponsor form</p>
								</div>
								<div class="file-body">
									<a href="{url}" download="{filename}.{extension}" class="btn btn--md btn--secondary btn--rounded">
										
										{if title}
											{title}
										{if:else}
											{filename}.{extension}
										{/if}
									</a>
								</div>
							</div>
							{if:else}
								<div class="article__photo">
									<div class="photo-frame">
										<img src="{url}" alt="{alt_text}">
									</div>
									{if caption}
									<div class="photo-caption">
										<p>{caption}</p>
									</div>
									{/if}
								</div>
							{/if}
						{/files}
					{/assets}
					{gallery}
						{if images}
						<script>
							$(function(){
								Galleria.run('.galleria');
							});
						</script>
						<div class="gallery-frame" ng-cloak>
							<div class="galleria">
								{images}
						    <img src="{image}" data-description="{caption}">
						    {/images}
							</div>
						</div>
						{/if}
					{/gallery}
				{/article_body}
				<div class="share-bar">
					{exp:hj_social_bookmarks sites="Facebook|Google+|Twitter|LinkedIn" entry_id="{entry_id}"}
				</div>
			</div>

		</article>
	</div>
</main>
{/exp:channel:entries}