{layout="layouts/index"}

{exp:channel:entries disable="categories|category_fields|member_data|pagination|trackbacks"}
<header class="headline">
	<div class="headline__content">
		<h1>Contact Us</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<div class="contact">
			<div class="contact-info">
				<h2>Contact Information</h2>
        
        <p class="contact-chapter">
        British-American Business Council Northern California
        </p>
				{contact_card}
        <p class="contact-meta">
          <span class="contact-name"><strong>{name}</strong>, <br>{role}</span>
          {if phone}
          <span class="contact-phone"><strong>Tel:</strong> <a href="tel:{phone}">{phone}</a></span>
          {/if}
          <span class="contact-email"><strong>Email:</strong> <a href="mailto:{email}">{email}</a></span>
        </p>
        {/contact_card}
				<div id="map_canvas" class="map-canvas">
          {exp:gmap:init id="map" scrollwheel="false" style="width:100%;height:300px"}
          {contact_map id="map"}
        </div>
			</div>
			<div class="contact-inquiry">
				<h2>Send your questions or comments</h2>
				
        {exp:freeform:form 
          form:class="contact-form" 
          form_name="contact"
          required="full_name|email"
        }
					
					<div class="form-group">
				    <label for="fullName">Full Name</label>
				    <input type="text" class="form-control" id="fullName" placeholder="Enter your full name" name="full_name">
				  </div>
				  <div class="form-group">
				    <label for="email">Email</label>
				    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
				  </div>
					
					<div class="form-group">
				    <label for="contactComment">Your Comment</label>
				    <textarea name="user_message" id="contactComment" cols="30" rows="7"></textarea>
				  </div>
				  <div class="form-group">
				    <div class="form-control">
				    	<button type="submit" class="btn">Send Inquiry</button>
				    </div>
				  </div>
				{/exp:freeform:form}
			</div>
		</div>
	</div>
</main>
{/exp:channel:entries}