{layout="layouts/index"}

<!-- Rich Headline -->
<header class="headline headline--rich" style="background-image: url(/assets/img/contact.jpg);">
	<div class="overlay" style="background-color: rgba(17, 17, 17, 0.5);">
		<div class="headline__content">
			<h1>Contact Us</h1>
			<p class="caption">
				Please use the form below to send your questions or comments to the BABC-PNW.
			</p>
		</div>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<div class="contact">
			<div class="contact-info">
				<h3>We would be more than happy to hear from you, please contact:</h3>
				<p class="contact-meta">
					<span class="contact-name">Catherine Filippini, Executive Director</span>
					<span class="contact-name">British-American Business Council Northern California</span>
				</p>
				<address>
					
				</address>
			</div>
			<div class="contact-inquiry">
				
			</div>
		</div>
	</div>
</main>