{layout="layouts/index"}

{exp:channel:entries
	disable="category_fields|member_data|trackbacks"
}
{article_banner}
{if background}
<header class="headline headline--rich" style="background-image: url('{background}');">
{if:else}
<header class="headline">
{/if}
{/article_banner}

	<div class="overlay" 
		{article_banner}
		style="background-color: rgba(17, 17, 17, 0.{overlay});"
		}
		{/article_banner}
	>
		<div class="headline__content">
			<div class="headline-categories">
				{categories}
        <a href="#">{category_name}</a>
				{/categories}
			</div>
			<h1>{title}</h1>
			<div class="headline__meta">
				<span class="date">
					{entry_date format="%F %d, %Y @ %g:%i %A"}
				</span>
			</div>
		</div>
	</div>
</header>
<main class="main main--white">
	<div class="main-container">
		<article class="article">
			<aside class="author__aside">
				<div class="card">
					<div class="card__body">
						
        		
						
						<div class="author">
							{exp:zoo_visitor:details member_id="{author_id}"}
							<div class="author__picture">
								<img src="{visitor:member_photo}" alt="{visitor:member_first_name} {visitor:member_last_name}">
							</div>
							<div class="author__meta">
								<div class="author-name">{visitor:member_first_name} {visitor:member_last_name}</div>
								<div class="author-title">{visitor:member_job_title}</div>
							</div>
							<div class="author__links">
								
								{visitor:member_social_links}
								<a href="{url}">
									<span class="iconic" data-glyph="social-{service}" aria-hidden="true"></span>
								</a>
								{/visitor:member_social_links}
								
							</div>
							{/exp:zoo_visitor:details}
						</div>
						
					</div>
					<footer class="card__footer card__footer--sm text-center">
						<a href="#">All Posts</a>
					</footer>
				</div>
			</aside>
			<div class="article__body">
				
				{article_body}
					{heading}
						<header class="article__header">
							{value}
						</header>
					{/heading}
					{wygwam}
						<section class="article__section">
							{value}
						</section>
					{/wygwam}
					{assets}
						{files}
							<div class="article__photo">
								<div class="photo-frame">
									<img src="{url}" alt="{alt_text}">
								</div>
								<div class="photo-caption">
									<p>{caption}</p>
								</div>
							</div>
						{/files}
					{/assets}
				{/article_body}

				<div class="share-bar">
					<a href="#" class="btn btn--social btn--facebook">
						<span class="iconic" data-glyph="social-facebook" aria-hidden="true"></span> Share
					</a>
					<a href="#" class="btn btn--social btn--twitter">
						<span class="iconic" data-glyph="social-twitter" aria-hidden="true"></span> Tweet
					</a>
				</div>
			</div>

		</article>
	</div>
</main>
{/exp:channel:entries}