{layout="layouts/index"}

<main class="main main--home">
	<div class="main-container">
		<section class="section-row">
			<div class="home-editorial">
				<!-- Events -->
				<div class="card">
					<header class="card__header">
						<h2>Upcoming &amp; Featured Events</h2>
						<span class="card-icon card-icon--middle">
							<a href="#">
								<img data-src="/assets/svg/rss-alt.svg" class="iconic iconic-sm iconic--rss" alt="rss">
							</a>
						</span>
					</header>
					<div class="card__body">
						<div class="post post--event post--event--industry post--with-thumb">
							<header class="post--event__header">
								<h3 class="post-title">
									<a href="#">See a Seattle Reign match for free</a>
								</h3>
								<time class="event-date">
									<div class="day">Friday, April 3rd</div>
									<div class="time">7:00 PM</div>
								</time>
							</header>
							<div class="post--event__body">
								<div class="post__thumb">
									<a href="#"><img src="/assets/img/seattle-reign.png" alt="Seattle Reign FC"></a>
								</div>
								<div class="post__body">
									<p class="post-excerpt">
										BABC-PNW is pleased to cheer on the Seattle Reign in their pre-season friendly vs. the University of Washington. This is a special Community Shield Match where organizations, such as BABC, who have supported the team will be acknowledged.  We hope you’ll be able to join and attend this match, offered complimentary to BABC-PNW members.
									</p>
								</div>
							</div>
							<footer class="post--event__footer">
								<span class="event-type">Industry Event</span>
								<span class="event-cta">
									<a href="#" class="btn btn--outline btn--md">More Info</a>
									<a href="#" class="btn btn--outline btn--md">Register Today</a>
								</span>
							</footer>
						</div>
						<div class="post post--event post--event--pnw post--with-thumb">
							<header class="post--event__header">
								<h3 class="post-title">
									<a href="#">UK Elections – Potential Impact on the Economy</a>
								</h3>
								<time class="event-date">
									<div class="day">Tuesday, March 24th</div>
									<div class="time">4:00 PM - 5:30 PM</div>
								</time>
							</header>
							<div class="post--event__body">
								<div class="post__thumb">
									<a href="#"><img src="/assets/img/uk-vote.jpg" alt="Seattle Reign FC"></a>
								</div>
								<div class="post__body">
									<p class="post-excerpt">
										Elections in the UK are scheduled to take place in early May. With the potential for changes ahead, now is a perfect time to hear from experts who will discuss some of the key issues at play at the Trade Development Alliance's March 24th UK elections event.
									</p>
								</div>
							</div>
							<footer class="post--event__footer">
								<span class="event-type">A BABC-PNW supported Event</span>
								<span class="event-cta">
									<a href="#" class="btn btn--outline btn--md">More Info</a>
									<a href="#" class="btn btn--outline btn--md">Register Today</a>
								</span>
							</footer>
						</div>
					</div>
					<footer class="card__footer text-center">
						<a href="#">More News</a>
					</footer>
				</div>

				<!-- Member Opportunities -->
				<div class="card member-opportunities">
					<header class="card__header">
						<h2>Member Opportunities</h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="card__carousel">
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-1.jpg"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-2.jpg"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-3.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-4.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-5.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ad-6.jpg"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside class="home-aside">
				<div class="card">
					<header class="card__header text-center">
						<h2>Upcoming Events</h2>
						<span class="card-icon card-icon--top">
							<a href="#">
								<img data-src="/assets/svg/bookmark.svg" class="iconic iconic-md iconic--bookmark" alt="bookmark">
							</a>
						</span>
					</header>
					<div class="card__body">
						<!-- Micro Post -->
						<div class="post post--micro post--with-thumb">
							<div class="post__thumb">
								<a href="#"><img src="/assets/img/space-needle.jpg" alt="space-needle"></a>
							</div>
							<div class="post__body">
								<div class="post-meta">
									<div class="post-date">February 10 - 12</div>
								</div>
								<h3 class="post-title">
									<a href="#">PNAA’s 14 Annual Aerospace Conference</a>
								</h3>
							</div>
						</div>
						<div class="post post--micro">
							<div class="post__body">
								<div class="post-meta">
									<div class="post-date">
										February 15
									</div>
								</div>
								<h3 class="post-title">
									<a href="#">Six Nations Rugby</a>
								</h3>
								<p class="post-excerpt">
									The Ghost Bring Lush Psych-Pop to the Bowery Ballroom
								</p>
							</div>
						</div>
						<div class="post post--micro">
							<div class="post__body">
								<div class="post-meta">
									<div class="post-date">
										February 18
										<time>5:30PM - 7:00PM</time>
									</div>
								</div>
								<h3 class="post-title">
									<a href="#">February Social with Florin Pensions</a>
								</h3>
								<p class="post-excerpt">
									Courtyard Marriott Downtown Seattle
								</p>
							</div>
						</div>
					</div>
					<footer class="card__footer text-center">
						<a href="#">More Events</a>
					</footer>
				</div>
				<div class="card">
					<header class="card__header text-center">
						<h2>Consul's Desk</h2>
					</header>
					<div class="card__body">
						<div class="consul-photo">
							<img src="/assets/img/robin.jpg" alt="Robin Twyman">
						</div>
						<div class="consul-post">
							<blockquote>
								<span class="quote-mark"><img data-src="/assets/svg/double-quote-serif.svg" class="iconic iconic--quote iconic-sm" alt="double-quote-serif"></span>
								<p>
									The British Embassy in Washington DC has created an interactive trade map showing the wealth of trade and investment between the UK and the US, including at state level... <a href="#">Read More</a>
								</p>
							</blockquote>
						</div>
						<div class="consul-meta">
							<h4 class="consul-name">Robin Twyman</h4>
							<p class="consul-title">British Consul (Business &amp; Government Affairs) Seattle.</p>
						</div>
					</div>
					<div class="card__footer text-center">
						<a href="#">Visit the Column</a>
					</div>
				</div>
			</aside>
		</section>
		
		<div class="section-row">
			<div class="home-member-logos">
				<!-- Patron / Corporate Members -->
				<div class="card member-logos">
					<header class="card__header">
						<h2>Patron &amp; Corporate Members</h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="card__carousel--autoplay">
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/delta.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/orion.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/sightlife.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/expeditors.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/teague.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/esterline.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/russell.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/kpmg.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/saracens.png"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section-row">
			<div class="home-twitter">
				<!-- Twitter Card -->
				<div class="card card--twitter">
					<header class="card__header">
						<h2>From Twitter <a href="http://twitter.com/babcpnw" target="_blank">@babcpnw</a></h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="tweet">
							2 night at <a href="#">@museumofflight</a> <a href="#">@RAeSSeattle</a> features discussion on Boeing's newest single-aisle airplane. Free admission. <a href="#">http://bit.ly/1vdEfQ3 </a>
						</div>
						<div class="tweet-meta">
							<span class="tweet-date"><img data-src="/assets/svg/clock.svg" class="iconic iconic--time iconic-sm" alt="clock"> 9 min ago</span>
						</div>
					</div>
				</div>
			</div>
			<div class="home-newsletter">
				<!-- Newsletter Card -->
				<div class="card card--newsletter">
					<header class="card__header">
						<h2>Signup for our newsletter</h2>
					</header>
					<div class="card__body card__body--padded">
						<p>You’ll receive news and event updates, community perspectives and much more!</p>
						<div class="newsletter">
							<form action="#" class="newsletter__form">
								<div class="form-group inline-form-group">
									<input type="text" class="form-control inline-control newsletter-control" placeholder="Enter your email">
									<button type="submit" class="btn--newsletter">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="section-row">
			<div class="home-member-logos">
				<!-- Patron / Corporate Members -->
				<div class="card member-logos">
					<header class="card__header">
						<h2>Sustaining Partners</h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="card__carousel">
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/greater-portland.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/reign-fc.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/uk-trade.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/uk-government-office.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/defense-coalition.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/aerospace-alliance.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/tdas.png"></a>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="#"><img src="/assets/img/ads/facc.png"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>