{layout="layouts/index"}

<main class="main main--home">
	<div class="main-container">
		<section class="section-row">
			<div class="home-editorial">
				<!-- Events -->
				<div class="card">
					<header class="card__header">
						<h2>Upcoming &amp; Featured Events</h2>
						<span class="card-icon card-icon--middle">
							<a href="/rss/event">
								<span class="iconic" data-glyph="rss-alt"></span>
							</a>
						</span>
					</header>
					<div class="card__body">
						{exp:low_events:entries
							channel="events"
							disable="categories|category_fields|member_data|trackbacks"
							dynamic="off"
							unit="custom" date_from="-6 weeks" date_to="+6 weeks"
							show_passed="yes"
						}
						<div class="post post--event post--event--{event_type} post--with-thumb">
							<header class="post--event__header">
								<h3 class="post-title">
									{if event_external}
									<a href="{event_external}" target="_blank">
									{if:else}
									<a href="{page_url}">
									{/if}
									{title}</a>
								</h3>
								<time class="event-date">
									<div class="day">{event_date:start_date format="%l, %F %d%S"}</div>
									<div class="time">{event_date:start_date format="%g:%i %A"} - {event_date:end_date format="%g:%i %A"}</div>
								</time>
							</header>
							<div class="post--event__body">
								{event_banner}
								{if thumbnail}
								<div class="post__thumb">
									{if event_external}
									<a href="{event_external}" target="_blank">
									{if:else}
									<a href="{page_url}">
									{/if}
										<img src="{thumbnail}" alt="{thumbnail:alt_text}">
									</a>
								</div>
								{/if}
								{/event_banner}
								<div class="post__body">
									<p class="post-excerpt">
										{event_excerpt text_only="yes"}
									</p>
								</div>
							</div>
							<footer class="post--event__footer">
								<span class="event-type">{event_type:label}</span>
								<span class="event-cta">
									{if event_external}
									<a href="{event_external}" target="_blank" class="btn btn--outline btn--md">
									{if:else}
									<a href="{page_url}" class="btn btn--outline btn--md">
									{/if}
										{event_button_text}
									</a>
								</span>
							</footer>
						</div>
						{paginate}
						{pagination_links}
						<div class="pagination">
							<ul class="pager">
								{previous_page}
								<li class="previous">
									<a href="{pagination_url}">
										<span class="iconic" data-glyph="arrow-left-line-large-oblique" aria-hidden="true"></span> Older
									</a>
								</li>
								{/previous_page}
								{next_page}
	    					<li class="next">
	    						<a href="{pagination_url}">Newer 
	    							<span class="iconic" data-glyph="arrow-right-line-large-oblique" aria-hidden="true"></span>
	    						</a>
	    					</li>
	    					{/next_page}
							</ul>
						</div>
						{/pagination_links}
						{/paginate}
						{/exp:low_events:entries}
					</div>
				</div>
			</div>
			
			{exp:channel:entries disable="categories|category_fields|member_data|pagination|trackbacks"}
			<aside class="home-aside">
				{page_aside}
					{if channel_short_name == "testimonials"}
						{embed="partials/_testimonial-card" entry_id="{entry_id}"}
					{/if}
					{if channel_short_name == "sponsor_card"}
						{embed="partials/_sponsor-card" entry_id="{entry_id}"}
					{/if}
				{/page_aside}
			</aside>
			{/exp:channel:entries}

		</section>
		
	</div>
</main>