{layout="layouts/index"}

<main class="main main--white">
	<div class="main-container">
		<div class="table-of-contents">
			<h2>Supporting Views</h2>
			<hr>
			<ul>
				<li><a href="/views/contact">Contact</a></li>
				<li><a href="/views/j1-visa">J1 Visa</a></li>
				<li><a href="/views/about">About Us</a></li>
				<li><a href="/views/editorial">Editorial Article</a></li>
				<li><a href="/views/event-listing">Event Listings</a></li>
				<li><a href="/views/board">Board of Directors</a></li>
				<li><a href="/views/board-bio">Board of Directors Bio</a></li>
			</ul>
		</div>
	</div>
</main>