{layout="layouts/index"}

<!-- Rich Headline -->
<header class="headline">
	<div class="headline__content">
		<h1>J1 Visa</h1>
	</div>
</header>

<main class="main main--white">
	<div class="main-container">
		<div class="j1">
			<div class="j1__intro">
				<h2>J1 Visa Introduction</h2>
				<p>Through our J-1 Visa Program, the BABC enables its member companies to bring qualified employees and/or interns into the United States – of any nationality, from anywhere in the world – in a quick, cost-effective, reliable and user-friendly way.</p>
				<div class="alert alert--info">
					<p>For further information on the J1 Visa program please contact:<br> <strong>Catherine Filippini</strong> at <a href="mailto:membership@babcpnw.org">membership@babcpnw.org</a></p>
				</div>
			</div>
			<div class="j1__body">
				<div class="j1__faq">
					<h2>BABC J1 (Exchange Visitor) Program FAQs</h2>
					<p>You can find your answers to frequently asked questions, as well as applications and insurance information below:</p>
					<div class="faqs">
						<ang-accordion one-at-a-time="true">
				      <collapsible-item title="What is the Purpose of the Program?">
				        <div ng-cloak>
				        	<p>To provide an expedient, cost-effective way for member companies of the BABC in the United States to bring qualified executives into the US for up to 18 months of training and work experience.</p>
				        </div>
				      </collapsible-item>
				      <collapsible-item title="What are the features and benefits of the Program?">
				        <div ng-cloak>
				        	<ul>
					        	<li><strong>Quick:</strong> can process completed applications within 5 business days</li>
					        	<li><strong>Cost-Effective:</strong> $1,600</li>
					        	<li><strong>Reliable:</strong> authorized by the US Department of State since 1986</li>
					        	<li><strong>User-Friendly:</strong> all administration/logistics handled by the Program Administrator</li>
					        	<li>Provide US work experience/training to employees/interns</li>
					        	<li>Overcome cross-cultural differences and improve communication between US and overseas offices</li>
					        	<li>Enhance employee recruitment/retention by offering US assignments</li>
					        </ul>
				        </div>
				      </collapsible-item>
				      <collapsible-item title="How does a Member Company Qualify for the Program?">
				        <div ng-cloak>
				        	<p><strong>The company needs to:</strong></p>
					        <ol>
					        	<li>be a member of a chapter of the BABC in the US</li>
					        	<li>either be doing business between the US and the UK, through a parent or subsidiary company; or if the company does not have a presence in the UK through a parent or subsidiary relationship, the company must intend to establish a UK office, thereby justifying their need to bring a UK-based executive into the USA for training and work experience.</li>
					        </ol>
					        <p><strong>Site visits:</strong> The purpose of a site visit is for the Program Sponsor to ensure that the host organization possesses and maintains the ability and resources to provide structured and guided work-based learning experiences according to the individualized Trainee’s Placement Plan.</p>

					        <p>The site visit and screening is conducted by a designated BABC officer to satisfy the criteria from the US State Department. A site visit is required if the member company is applying to use the program for the first time.</p>
				        </div>
				      </collapsible-item>
				      <collapsible-item title="How does an Executive Qualify for the Program?">
				        <div ng-cloak>
				        	<ol>
					        	<li>There are no age or nationality restrictions. However, non-British executives must either be a resident of the UK or already be employed by the applicant company.</li>
					        	<li>All trainees must be qualified to receive the training by virtue of their academic background and experience. Trainees must have either A) a degree or professional certificate from a post-secondary academic institution outside the U.S. and at least one year prior related work experience in his or her occupational field; or B) five years of work experience outside the U.S. in his or her occupational field.</li>
					        	<li>Executives must have the intention of continuing to do business with the member company upon completion of the training, by being employed by the member company in the UK or country of residence.</li>
					        </ol>
				        </div>
				      </collapsible-item>
				    </ang-accordion>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>