.alert {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 4px;
	margin: rem(30) 0;
	&--info {
		background-color: #EFF7FD;
		color: #486D91;
		a {
			color: #486D91;
			text-decoration: underline;
		}
	}
	&--danger {
		background-color: #F0D8D8;
		color: $red;
		a {
			color: $red;
			text-decoration: underline;
		}
	}
	&--inline {
		display: inline-block;
	}
	a:hover {
		text-decoration: underline;
	}

	&--no-top-margin {
		margin-top: 0;
	}
	&--no-bottom-margin {
		margin-bottom: 0;
	}
	&--no-margin {
		margin: 0;
	}
}

.paywall {
	background-color: lighten(#f1c40f, 35);
	position: relative;
	z-index: 200;
	&__notice {
		@include outer-container();
		padding: 20px;
		p {
			font-size: rem(18);
			margin-bottom: 0;
			text-align: center;
			color: #D58405;

			a {
				font-weight: 600;
				color: #D58405;
				text-decoration: underline;
				margin-left: 5px;

			}
		}
	}
}