.signup-breadcrumb, .profile-tabbar {
	@include clearfix;
	background-color: #01243D;
	&__list {
		@include outer-container();
		text-align: center;
		li {
			text-align: center;
			display: inline-block;
			color: #fff;
			border-bottom: 3px solid #01243D;
			font-weight: 600;
			margin: auto 1em;
			padding: 1em;
			a {
				display: block;
				color: #fff;
			}
			&.active {
				border-color: #85A5BB;
			}
		}
	}
}

.breadcrumbs {
	li {
		color: #fff;
		display: inline-block;
		letter-spacing: 1px;
		a {
			color: #fff;
		}
	}
}

.breadcrumbs > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #fff;
}
