#{$all-button-inputs},
button, .btn {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: 3px;
  border: 2px solid $action-color;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @include transition(all 0.25s ease-in-out);

  &:hover,
  &:focus {
    background-color: $blue-hover;
    color: #fff;
    border-color: $blue-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn--secondary {
  background-color: $red;
  color: #fff;
  border: 2px solid $red;
  &:hover,
  &:focus {
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
    color: #fff;
  }
}

.btn--rounded {
  @extend .btn;
  border-radius: 100px;
  padding: 0.65em 1.5em; 
}

.btn--outline {
  background-color: transparent;
  color: $blue;
  border: 2px solid $blue;
  &.btn--secondary {
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    &:hover, &:focus {
      color: #fff;
      background-color: $red;
      border-color: $red;
    }
  }
}
.btn--md {
  padding: 0.5em 1em;
  font-size: rem(14);
}
.btn--sm {
  padding: 0.35em .75em 0.30em;
  font-size: rem(12);
}
.btn--lg {
  padding: .75em 1.25em;
  font-size: rem(20);
}
.btn--link {
  border: none;
  background-color: transparent;
  color: $blue;
  &:hover, &:focus {
    color: #fff;
    background-color: $blue-hover;
    border-color: $blue-hover;
  }
  &.btn--secondary {
    background-color: transparent;
    color: $red;
    &:hover, &:focus {
      background-color: $red;
      border-color: $red;
      color: #fff;
    }
  }
}
.btn--pill {
  padding: rem(9) rem(20) rem(8);
  font-size: rem(12);
}
.btn--newsletter {
  background-color: #083659;
  border-color: #083659;
}