.card__carousel, .card__carousel--autoplay  {
	.flickity-page-dots {
		bottom: -5px;
	}
}

.member-opportunities {
	.carousel-item {
		width: 22.8%;
	  margin-right: 20px;
	  height: 147px;
	}	
}

.member-logos {
	.carousel-item {
		width: 240px;
	  height: 215px;
	  padding-top: 5px;
	  padding-left: 5px;
	  margin-right: 28px;
	}	
}