.consul--alt {
	background-color: $blue-alt;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.consul__photo {
	background-color: #f5f5f5;
	@include pad(rem(20) rem(30));
	.consul--alt & {
		@include pad(rem(28) rem(30));
		background-color: #0C4073
	}
	text-align: center;
	img {
		width: 108px;
		height: 108px;
		border-radius: 100px;
	}
}

.consul__post {
	@include pad(rem(20) rem(30) 0);
	blockquote {
		margin: 0;
		text-align: center;
	}
	p {
		font-family: $serif;
		font-size: rem(14);
		color: $alt-text-color;
		a {
			display: block;
			margin-top: rem(5);
		}
	}
	.read-more {
		display: block;
	}
	.consul--alt & {
		@include pad(rem(20) rem(20) 0);
		p { 
			color: #fff; 
		}
	}
}
.consul__meta {
	text-align: center;
	@include pad(rem(20) rem(30));
	.consul--alt & {
		color: #fff;
	}
}
.consul-name {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: rem(5);
	.consul--alt & {
		text-transform: none;
	}
}
.consul-title {
	font-size: rem(14);
	@include pad(0 rem(30));
}
.quote-mark {
	margin-bottom: rem(10);
	display: block;
	color: $blue;
	.consul--alt & {
		color: #839DB8;
	}
}
