.headline {
	background-color: $blue;
	min-height: 160px;
	&--rich {
		background-repeat: no-repeat;
		background-size: cover;
		background-positon: center;
		min-height: 316px;
		position: relative;
		text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
		.overlay {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	&--rich-center {
		background-size: initial;
		background-position: center center;
		background-color: transparent;
		min-height: 420px;

	}
	.headline__content {
		@include outer-container();
		text-align: center;
		padding-top: rem(50);
		h1 {
			color: #fff;
			font-size: rem(42);
			margin: auto auto rem(20);
		}
		.headline__meta {
			color: #fff;
			.date {
				line-height: normal;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				margin-bottom: 2.5em;
				display: inline-block;
			}
		}
	}
}

.headline--event {
	// min-height: 260px;
}

.headline--rich .headline__content {
	padding-top: rem(60);
	h1 {
		margin: auto auto rem(32);
	}
	.caption {
		color: #fff;
		font-size: rem(24);
		width: 60%;
		margin: -16px auto 0;
	}
}

.headline--rich .headline__event {
	h1 {
		margin: auto auto rem(32);
	}
	.caption {
		margin: -16px auto 0;
	}
}


.membership-header {
	@include outer-container(40%);
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	h2 {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 600;
	}

	.intro-section {
		text-align: center;
		font-size: rem(18);
	}
}