.iconic--bookmark {
	color: $red;
	position: relative;
	top:-1px;

}

.iconic--social {
	path { 
		stroke: $dark-gray; 
		fill: $dark-gray;
	}
	&:hover {
		path { 
			stroke: $blue; 
			fill: $blue;
		}	
	}
}

.iconic--search {
	path { 
		stroke: #ccc; 
	}
	circle {
		stroke: #ccc;
	}
	width: 20px !important;
	height: 20px !important;
}
.iconic--quote {
	path { 
		stroke: $blue;
		fill: $blue;
	}
}

.iconic--time {
	path { 
		stroke: $blue;
		fill: $blue;
	}
	circle {
		stroke: $blue;
		fill: $blue;	
	}
}