.iconic--bookmark {
	path { fill: $red; }
	.card__header & {
		width: 22px !important;
		height: 22px !important;
	}
}
.iconic--rss {
	path { 
		stroke: $blue; 
		fill: $blue;
	}
	.card__header & {
		width: 14px !important;
		height: 14px !important;
	}
}

.iconic--social {
	path { 
		stroke: $dark-gray; 
		fill: $dark-gray;
	}
	&:hover {
		path { 
			stroke: $blue; 
			fill: $blue;
		}	
	}
}

.iconic--search {
	path { 
		stroke: #ccc; 
	}
	circle {
		stroke: #ccc;
	}
	width: 20px !important;
	height: 20px !important;
}
.iconic--quote {
	path { 
		stroke: $blue;
		fill: $blue;
	}
}

.iconic--time {
	path { 
		stroke: $blue;
		fill: $blue;
	}
	circle {
		stroke: $blue;
		fill: $blue;	
	}
}