.card--newsletter {
	background: $blue-alt url('/assets/img/news-background.png') no-repeat top right;
	.card__header {
		border-color: #4077A2;
		color: #fff;
	}
	.card__body {
		color: #fff;
		p {
			width: 380px;
			margin-bottom: rem(20);
		}
	}
}