.pager {
  @include pad(rem(20));
  @include clearfix();
  background-color: #F1F7F9;
}
.pager li {
  display: inline;
  span {
  	vertical-align: middle;
  	line-height: normal;
  	position: relative;
  	top: 1px;
  }
}
.pager li>a, .pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager .next>a, .pager .next>span {
  float: right;
}
.pager .previous>a, .pager .previous>span {
  float: left;
}


