.post {
	@include row();
	@include pad(30px 20px);
	&--event {
		padding: 0;
		&__header {
			padding: 0;
			@include row();
		}
		&__body {
			@include clearfix();
			@include pad(30px 20px);
		}
		&__footer {
			border-top: solid 1px $lighter-gray;
			@include pad(30px 20px);
			@include clearfix();
			.event-type {
				text-transform: uppercase;
				font-size: rem(12);
				font-weight: 600;
				vertical-align: middle;
				line-height: normal;
				letter-spacing: 1px;
			}
			.event-cta {
				float: right;
				a {
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
	}
	&.post--micro {
		@include pad(20px);
	}
	border-bottom: solid 1px #eee;
	&:last-of-type { border: none; }
	&--with-thumb {
		.post__thumb {
			@include span-columns(4);
			a { display: block; }
			img { border-radius: 4px;}
		}
		.post__body {
			@include span-columns(8);
		}
	}
	&--micro {
		.post__thumb {
			@include span-columns(12);
			a { margin-bottom: rem(15); }
			img { max-height: 120px; }
		}
		.post__body {
			@include span-columns(12);
		}
	}
}

.post-title {
	margin-bottom: rem(5);
	a {
		color: $dark-gray;
		font-weight: 600;
		font-size: rem(18);
		&:hover, &:focus {
			color: $red;
		}
	}
	.post--micro & {
		a { font-size: rem(16); }
	}

	.post--event & {
		a {
			color: #fff;
		}
	}
}

.post--event {
	.post-title {
		@include span-columns(7);
		margin-bottom: 0;
		@include pad(25px 20px 12px);
	}
}

.post--event {
	.event-date {
		color: #fff;
		float: right;
		@include pad(12px 20px);
		text-align: right;
		.day {
			font-size: rem(18);
			font-weight: 600;
		}
	}
}

.post--event--industry {
	.event-date {
		background-color: darken($red, 5);
	}
	.btn {
		@extend .btn--secondary;
	}
	.event-type {
		color: $red;
	}
	.post--event__header {
		background-color: $red;
	}
}
.post--event--pnw {
	.event-date {
		background-color: darken($blue, 5);
	}
	.event-type {
		color: $blue;
	}
	.post--event__header {
		background-color: $blue;
	}
}
.post--event--sponsor {
	.event-date {
		background-color: darken($gray, 5);
	}
	.event-type {
		color: $gray;
	}
	.post--event__header {
		background-color: $gray;
	}
	.btn {
		border-color: $gray;
		color: $gray;
		&:hover {
			background-color: $gray;
			color: #fff;
		}
	}
}

.post-meta {
	margin-bottom: rem(5);
	.post--micro & {
		margin-bottom: rem(3);
	}
}

.post-author {
	color: $blue;
	margin-bottom: rem(5);
}

.post-date {
	color: $red;
	font-size: rem(14);
	text-transform: uppercase;
	time {
		display: block;
		font-weight: 500;
		color: $red;
	}
	.post--micro & {
		color: $blue;
		font-size: rem(12);
		font-weight: 600;
		letter-spacing: 1.2px;
		time {
			display: inline-block;
			margin-left: 5px;
		}
	}
}

.post-excerpt {
	color: $alt-text-color;
	font-family: $serif-font-family;
	padding-right: rem(40);
	.post--micro & {
		font-size: rem(14);
	}
}