html {
	position: relative;
  min-height: 100%;
}
body {
	background-color: #F9F9F9;
	margin-bottom: 108px;
}
body.alt-bg {
	background-color: #fff;
}

.main {
	@include pad(rem(30) 0);
	background: url('/assets/img/cityscape.png') no-repeat top center;
	&--white {
		background: #fff;
		padding-top: rem(40);
	}
	&--white-no-pad {
		background: #fff;
		padding-top: 0;
	}
}

.main-container {
	@include outer-container();
	.main--white & {
		background-color: #fff;
	}
}

.section-row {
	@include row();
}

.home-editorial, .home-newsletter {
	@include span-columns(8);	
}

.home-aside, .home-twitter {
	@include span-columns(4);	
}

.home-newsletter .card, .home-twitter .card {
	min-height: 240px;
}

.home-member-logos {
	@include span-columns(12);
}

.table-of-contents {
	
}

.wf-loading {
	font-family: "Proxima Nova"
}
.wf-active .navigation--bar {
  
}

.password-recovery {
	@include outer-container(35%);
	margin-top: 5em;
}