.social-links {
	@include row();
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 220px;
	li {
		display: table-cell;
		text-align: right;
		a {
			color: $dark-gray;
			vertical-align: middle;
			&:hover {
				color: $blue;
			}
		}
		&:first-child {
			font-size: rem(14);
			width: 65px;
			position: relative;
			
		}
	}
}