.social-links {
	@include row();
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 220px;
	li {
		display: table-cell;
		text-align: right;
		a {
			color: $dark-gray;
			vertical-align: middle;
			&:hover {
				color: $blue;
			}
		}
		&:first-child {
			font-size: rem(14);
			width: 65px;
			position: relative;
			
		}
	}
}

.share-bar {
	@include pad(rem(22) 0);
}

.hj_social_bookmarks {
	padding: 0 !important;
	margin: 0;
	@include clearfix();
	li {
		list-style: none;
		float: left;
		margin-right: 10px;
		img {
			width: 128px;
			height: 36px;
		}
		&.last {
			margin-right: 0;
		}
	}
}