<div class="card">
	<header class="card__header text-center">
		<h2>Consul's Desk</h2>
	</header>
	<div class="card__body">
		<div class="quote">
			<div class="quote__photo">
				<img src="/assets/img/staff-photos/robin.jpg" alt="Robin Twyman">
			</div>
			<div class="quote__post">
				<blockquote>
					<span class="iconic iconic--quote quote-mark" data-glyph="double-quote-serif-left"></span>
					<p>
						The British Embassy in Washington DC has created an interactive trade map showing the wealth of trade and investment between the UK and the US, including at state level... <a href="#">Read More</a>
					</p>
				</blockquote>
			</div>
			<div class="quote__meta">
				<h4 class="quote-name">Robin Twyman</h4>
				<p class="quote-title">British Consul (Business &amp; Government Affairs) Seattle.</p>
			</div>
		</div>
	</div>
	<div class="card__footer text-center">
		<a href="#">Visit the Column</a>
	</div>
</div>