<div class="card card--newsletter">
	<header class="card__header">
		<h2>Signup for our newsletter</h2>
	</header>
	<div class="card__body card__body--padded">
		<p>You’ll receive news and event updates, community perspectives and much more!</p>
		<div class="newsletter">
			<div class="newsletter-response"></div>
			<form action="/partials/newsletter-response" class="newsletter__form" method="post">
				<div class="form-group inline-form-group">
					<input type="text" name="first_name" class="form-control inline-control newsletter-control name" placeholder="First Name">
					<input type="text" name="last_name" class="form-control inline-control newsletter-control name" placeholder="Last Name">
					<input type="email" name="email" class="form-control inline-control newsletter-control" placeholder="Enter your email">
					<input type="hidden" value="{XID_HASH}" name="XID">
					<button type="submit" name="go" class="btn--newsletter">Subscribe</button>
				</div>
			</form>
		</div>
	</div>
</div>