{if member_group == "5" AND segment_1 != "join"}
<header class="paywall">
	<div class="paywall__notice">
		{exp:zoo_visitor:details}
			<p>It looks like your still a step away from being a full fledge member. <a href="/join">Click here to complete your membership.</a></p>
		{/exp:zoo_visitor:details}
	</div>
</header>
{/if}

<header class="main-header">
	<div class="header-block">
		<div class="brand">
			<a href="/" class="logo">
				<img src="/assets/img/logo.png" alt="BABC PNW">
			</a>
		</div>
		<nav class="global-navigation">
			<div class="utilities">
				<div class="utility-block utility-block--social" ng-hide="showLogin==true">
					<span class="social-label">Follow Us</span>
					<span class="social-link"><a href="https://www.facebook.com/BABCPNW" target="_blank"><span class="iconic" data-glyph="social-facebook"></span></a></span>
					<span class="social-link"><a href="https://twitter.com/babcpnw" target="_blank"><span class="iconic" data-glyph="social-twitter"></span></a></span>
					<span class="social-link"><a href="https://www.linkedin.com/groups?gid=3840021&trk=myg_ugrp_ovr" target="_blank"><span class="iconic" data-glyph="social-linkedin"></span></a></span>
					<span class="social-link"><a href="#" target="_blank"><span class="iconic" data-glyph="rss-alt"></span></a></span>
				</div>

				<div class="utility-block utility-block--member" ng-class="{shown:showLogin==true}">
					{if logged_out}
					<div class="login-cta" ng-show="showLogin!=true">
						<a href="/join" class="btn btn--secondary btn--rounded btn--pill">Join BABC</a>
						<a href="#" id="loginAction" class="btn btn--outline btn--rounded btn--pill" ng-click="showLogin = true">Member Login</a>
					</div>
					{/if}
					{if logged_in}
					<div class="greeting animated fadeInDownBig">
						<a href="/member/profile">
							<span class="avatar">
								{exp:zoo_visitor:details}
    						{if visitor:member_photo}
    							<img src="{visitor:member_photo}" alt="{screen_name}">
    						{if:else}
									{embed="partials/_avatar"}
    						{/if}
    						{/exp:zoo_visitor:details}
							</span>
						</a>
						<a href="/member/profile">Hello, {screen_name}</a>
						<a href="/logout" class="logout"><span class="iconic iconic-sm" data-glyph="account-logout"></span></a>
					</div>
					{if:else}
					<div class="login" ng-show="showLogin==true" ng-cloak>
						{exp:zoo_visitor:login_form error_handling="inline"}
						<div class="form-group">
							<input id="username" name="username" type="text" class="login-field" placeholder="Email">
							<input id="password" name="password" type="password" class="login-field" placeholder="Password">
							<button class="btn btn--rounded btn--secondary">Sign In</button> 
							<span class="btn btn--outline btn--rounded" ng-click="showLogin = false">Cancel</span>
						</div>
						{error:login}
						{/exp:zoo_visitor:login_form}
					</div>
					{/if}
				</div>
			</div>
			<div class="site-menu">
				<div class="menu-block">
					<ul class="navigation navigation--bar">
						<li {if segment_1 == ""}class="active"{/if}><a href="/">Home</a></li>
						<li {if segment_1 == "about"}class="active"{/if}><a href="/about">About</a></li>
						<li {if segment_1 == "events"}class="active"{/if}><a href="/events">Events</a></li>
						<li {if segment_1 == "news"}class="active"{/if}><a href="/news">News</a></li>
						<li {if segment_1 == "j1-visa"}class="active"{/if}><a href="/j1-visa">J1 Visa</a></li>
						<li {if segment_1 == "resources"}class="active"{/if}><a href="/resources">Resources</a></li>
						<li {if segment_1 == "contact"}class="active"{/if}><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="menu-block menu-block--search">
					<div class="search">
						<form action="#" class="search__form">
							<div class="form-group">
								<input type="search" class="form-control" id="search" placeholder="Search">
								<label for="search">
									<span class="iconic iconic" data-glyph="magnifying-glass"></span>
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>