<header class="main-header">
	<div class="header-block">
		<div class="brand">
			<a href="/" class="logo">
				<img src="/assets/img/logo.png" alt="BABC PNW">
			</a>
		</div>
		<nav class="global-navigation">
			<div class="utilities">
				<div class="utility-block">
					<ul class="social-links">
						<li>Follow Us</li>
						<li>
							<a href="#">
								<img data-src="/assets/svg/social.svg" data-type="facebook" class="iconic iconic-sm iconic--social" alt="Facebook">
							</a>
						</li>
						<li>
							<a href="#">
								<img data-src="/assets/svg/social.svg" data-type="twitter" class="iconic iconic-sm iconic--social" alt="Twitter">
							</a>
						</li>
						<li>
							<a href="#">
								<img data-src="/assets/svg/social.svg" data-type="instagram" class="iconic iconic-sm iconic--social" alt="Instagram">
							</a>
						</li>
						<li>
							<a href="#">
								<img data-src="/assets/svg/rss-alt.svg" data-type="instagram" class="iconic iconic-sm iconic--social" alt="RSS">
							</a>
						</li>
					</ul>
				</div>
				<div class="utility-block">
					<div class="member-corner">
						<a href="#" class="btn btn--secondary btn--rounded btn--pill">Join BABC</a>
						<a href="#" class="btn btn--outline btn--rounded btn--pill">Member Login</a>
					</div>
				</div>
			</div>
			<div class="site-menu">
				<div class="menu-block">
					<ul class="navigation navigation--bar">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">J1 Visa</a></li>
						<li><a href="#">Resources</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="menu-block">
					<div class="search">
						<form action="#" class="search__form">
							<div class="form-group">
								<input type="search" class="form-control" id="search" placeholder="Search">
								<label for="search">
									<img data-src="/assets/svg/magnifying-glass.svg" class="iconic iconic-sm iconic--search" alt="Search">
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>