{layout="layouts/index"}
{exp:channel:entries
	disable="categories|category_fields|member_data|pagination|trackbacks"
}
<div class="hero">
	{home_hero}
	<div class="hero-item" style="background-image: url('{background}');">
		<div class="hero-content" ng-cloak>
			<h2>{caption}</h2>
			<p>{subtext}</p>
			<div class="hero-cta">
				<a href="{url}" class="btn btn--lg">{label}</a>
			</div>
		</div>
	</div>
	{/home_hero}
</div>
<section class="intro">
	<div class="intro-container">
		<div class="intro-block">
			<p>Fostering commerce, friendship and economic growth between the United States and the United Kingdom</p>
		</div>
		<div class="intro-block">
			<a href="/about" class="btn btn--outline">Learn more about BABC PNW</a>
		</div>
	</div>
</section>
{/exp:channel:entries}

<main class="main main--home">
	<div class="main-container">
		<section class="section-row">
			<div class="home-editorial">
				<!-- Editorials -->
				<div class="card">
					<header class="card__header">
						<h2>News &amp; Featured Articles</h2>
						<span class="card-icon card-icon--middle">
							<a href="/rss/feed">
								<span class="iconic" data-glyph="rss-alt"></span>
							</a>
						</span>
					</header>
					<div class="card__body">
						{exp:channel:entries
							channel="news"
							disable="categories|category_fields|member_data|trackbacks"
							dynamic="off"
							limit="5"
						}
						<div class="post {if '{article_banner:sum col="thumbnail"}' == '0'}post--with-thumb{/if}">
							{article_banner}
							{if thumbnail}
							<div class="post__thumb">
								<a href="{page_url}"><img src="{thumbnail}" alt="{thumbnail:alt_text}"></a>
							</div>
							{/if}
							{/article_banner}
							<div class="post__body">
								<h3 class="post-title">
									<a href="{page_url}">{title}</a>
								</h3>
								<div class="post-meta">
									<div class="post-author">
										By: 
										{if article_contributing_author}
										{article_contributing_author}
										{if:else}
										{author}
										{/if}
									</div>
									<div class="post-date">Posted on: {entry_date format="%F %d, %Y"}</div>
								</div>
								<div class="post-excerpt">
									{article_body}
										{textarea}
											{value}
										{/textarea}
									{/article_body}
								</div>
							</div>
						</div>
						{/exp:channel:entries}
					</div>
					<footer class="card__footer text-center">
						<a href="/news">More News</a>
					</footer>
				</div>
				<!-- Member Opportunities -->
				<div class="card member-opportunities">
					<header class="card__header">
						<h2>Member Opportunities</h2>
					</header>

					<div class="card__body card__body--padded">
						<div class="card__carousel">
							{exp:channel:entries
								disable="categories|category_fields|member_data|pagination|trackbacks"
							}
							{home_opportunities}
							{opportunity_ad}
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="{url}" target="_blank"><img src="{image}" alt="{title}"></a>
									</div>
								</div>
							</div>
							{/opportunity_ad}
							{/home_opportunities}
							{/exp:channel:entries}
						</div>
					</div>
				</div>
			</div>

			<aside class="home-aside">
				<div class="card">
					<header class="card__header text-center">
						<h2>Upcoming Events</h2>
						<span class="card-icon card-icon--top">
							<a href="/rss/event">
								<span class="iconic iconic-md iconic--bookmark" data-glyph="bookmark"></span>
							</a>
						</span>
					</header>
					<div class="card__body">
						<!-- Micro Post -->
						{exp:low_events:entries
							channel="events"
							disable="categories|category_fields|member_data|pagination|trackbacks"
							dynamic="off"
							limit="3"
							date="now;+8 weeks"
						}
						<div class="post post--micro">
							<div class="post__body">
								<h3 class="post-title">
									<a href="{page_url}">{title}</a>
								</h3>
								<div class="post-meta">
									<div class="post-date">
										{event_date:start_date format="%F %d"}
										<time>{event_date:start_date format="%g:%i %A"} - {event_date:end_date format="%g:%i %A"}</time>
									</div>
								</div>
								<p class="post-excerpt">
									{exp:eehive_hacksaw chars="80" append="..."}
									{event_excerpt text_only="yes"}
									{/exp:eehive_hacksaw}
								</p>
							</div>
						</div>
						{/exp:low_events:entries}
					</div>
					<footer class="card__footer text-center">
						<a href="/events">More Events</a>
					</footer>
				</div>
				{embed="partials/_column-card"}
			</aside>
		</section>
		{exp:channel:entries
			disable="categories|category_fields|member_data|pagination|trackbacks"
		}
		<div class="section-row">
			<div class="home-member-logos">
				<!-- Patron / Corporate Members -->
				<div class="card member-logos">
					<header class="card__header">
						<h2>Patron &amp; Corporate Members</h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="card__carousel">
							{home_members}
							{ad_unit}
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="{url}" target="_blank"><img src="{image}" alt="{title}"></a>
									</div>
								</div>
							</div>
							{/ad_unit}
							{/home_members}
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section-row">
			<div class="home-twitter">
				<!-- Twitter Card -->
				<div class="card card--twitter">
					<header class="card__header">
						<h2>From Twitter <a href="http://twitter.com/babcpnw" target="_blank">@babcpnw</a></h2>
					</header>
					<div class="card__body card__body--padded">
						{exp:twitter:user screen_name="babcpnw" limit="1"}
						<div class="tweet">
							{text}
						</div>
						<div class="tweet-meta">
							<span class="tweet-date"><img data-src="/assets/svg/clock.svg" class="iconic iconic--time iconic-sm" alt="clock"> {better_relative_date}</span>
						</div>
						{/exp:twitter:user}
					</div>
				</div>
			</div>
			<div class="home-newsletter">
				<!-- Newsletter Card -->
				{embed="partials/_newsletter-card"}
			</div>
		</section>

		<div class="section-row">
			<div class="home-member-logos">
				<!-- Patron / Corporate Members -->
				<div class="card member-logos">
					<header class="card__header">
						<h2>Sustaining Partners</h2>
					</header>
					<div class="card__body card__body--padded">
						<div class="card__carousel">
							{home_partners}
							{ad_unit}
							<div class="carousel-item">
								<div class="ad">
									<div class="ad__image">
										<a href="{url}" target="_blank"><img src="{image}" alt="{title}"></a>
									</div>
								</div>
							</div>
							{/ad_unit}
							{/home_partners}
						</div>
					</div>
				</div>
			</div>
		</div>
		{/exp:channel:entries}
	</div>
</main>

