{layout="layouts/index"}
<div class="password-recovery">
	<div class="card">
		<header class="card__header">
			<h2>Sign In to Your Account</h2>
		</header>
		<div class="card__body card__body--padded">
			{exp:zoo_visitor:login_form class="login-form" return="/" error_handling="inline"}
			
			{if error:login}
      <div class="alert alert--danger alert--no-top-margin">
      	 {error:login}
      </div>
      {/if}

      <div class="form-group form-group--half">
			    <label for="email">Your Email</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="username">
			  </div>

      <div class="form-group form-group--half">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
		    <p class="help-block"><a href="/recover-password">Forgot password?</a></p>
		  </div>

		  <div class="form-group form-group--button form-group--center">
		    <button class="btn btn--secondary btn--block" type="submit">Sign Login</button>
		  </div>

			{/exp:zoo_visitor:login_form}
		</div>
	</div>
</div>