{layout="layouts/index"}
<div class="password-recovery">
	<div class="card">
		<header class="card__header">
			<h2>Recover your password</h2>
		</header>
		<div class="card__body card__body--padded">
			{exp:zoo_visitor:forgot_password error_handling="inline" reset_url="/reset-password" parse="inward"}
        {if password_sent}
        <div class="alert alert--info alert--no-margin">
        	A password reset mail has been sent to the provided email.
        </div>
        {if:else}
        <div class="form-group form-group--half">
			    <label for="email">Your Email</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email">
			  </div>
				  {if error:email}
	        <div class="alert alert--danger alert--no-margin-bottom">
	        	 {error:email}
	        </div>
	        {/if}
        <div class="form-group form-group--button form-group--center">
			    <button class="btn btn--secondary btn--block" type="submit">Retrieve password</button>
			  </div>
        {/if}
			{/exp:zoo_visitor:forgot_password}
		</div>
	</div>
</div>