{layout="layouts/index"}
<div class="password-recovery">
	<div class="card">
		<header class="card__header">
			<h2>Reset your password</h2>
		</header>
		<div class="card__body card__body--padded">
			{exp:zoo_visitor:reset_password error_handling="inline"}
        {if password_reset}
                <h3>Your password has been reset. You can now login with your new password</h3>
        {if:else}
                <fieldset>
                        <p>
                        <label for="email" class="form-label">Password :</label>
                                <input type="password" name="password" id="password" class="form-text" value="" />
                        </p>

                        {error:password}
                </fieldset>
                <p>
                        <input type="submit" value="Reset your password" class="button" />
                </p>
        {/if}
{/exp:zoo_visitor:reset_password}
		</div>
	</div>
</div>