{layout="layouts/index"}
<div class="password-recovery">
	<div class="card">
		<header class="card__header">
			<h2>Reset your password</h2>
		</header>
		<div class="card__body card__body--padded">
			{exp:zoo_visitor:reset_password error_handling="inline"}
        {if password_reset}
        <div class="alert alert--info alert--no-margin">
        	Your password has been reset. You can now login with your new password
        </div>
        {if:else}
        <div class="form-group form-group--half">
			    <label for="password">Choose a new password</label>
			    <input type="password" class="form-control" id="password" placeholder="Enter your new password" name="password">
			  </div>

			  <div class="form-group form-group--half">
			    <label for="password_confirm">Confirm password</label>
			    <input type="password" class="form-control" id="password_confirm" placeholder="Confirm your password" name="password_confirm">
			  </div>
			  	{if error:password}
			  	<div class="alert alert--danger alert--no-margin-bottom">
	        	 {error:password}
	        </div>
			  	{/if}
                
        <div class="form-group form-group--button form-group--center">
			    <button class="btn btn--secondary btn--block" type="submit">Retrieve password</button>
			  </div>
        {/if}
			{/exp:zoo_visitor:reset_password}
		</div>
	</div>
</div>