{layout="layouts/index"}

<main class="main main--white main--white-no-pad">
	<header class="membership-header" style="max-width: 50%;">
		<h2>Renew Your Membership</h2>
		<section class="intro-section">
			{if member_group == 6}
			<p>Renew your BABC PNW Individual membership with a debit or credit card.</p>
			<p class="total-cost">
				Your renwal cost will be: <strong>$100</strong>
			</p>
			{if:elseif member_group == 7}
			<p>Renew your BABC PNW Small Business membership with a debit or credit card.</p>	
			<p class="total-cost">
				Your renwal cost will be: <strong>$275</strong>
			</p>
			{if:elseif member_group == 8}
			<p>Renew your BABC PNW Corporate membership with a debit or credit card.</p>
			<p class="total-cost">
				Your renwal cost will be: <strong>$675</strong>
			</p>
			{if:else}
			<p>Renew your BABC PNW Patron membership with a debit or credit card.</p>
			<p class="total-cost">
				Your renwal cost will be: <strong>$2,000</strong>
			</p>
			{/if}
		</section>
	</header>
	
	{exp:charge:form
	  form_class="membership-form membership-form--payment"
	  form_id="charge-form"
	  return="/renew/membership-confirmation"
	  return_error="/renew/payment-error/{segment_2}" 
	  on_success="notify_renewal_member"}
		
		{if member_group == 6}
			<input type="hidden" name="plan_amount" value="100">
		{if:elseif member_group == 7}
			<input type="hidden" name="plan_amount" value="275">
		{if:elseif member_group == 8}
			<input type="hidden" name="plan_amount" value="675">
		{if:else}
			<input type="hidden" name="plan_amount" value="2000">
		{/if}

		
		<div id="payment-errors"></div>
		
		 <input type="hidden" name="customer_name" value="{screen_name}">
		 <input type="hidden" name="customer_email" value="{email}">

		<div class="form-group">
	    <label for="card_number">Card Number</label>
	    <input type="text" class="form-control" id="card_number" value="" data-stripe="number" placeholder="Enter your card number">
	  </div>
		<div class="inline-form-group">
		  <div class="form-group form-group--half">
		    <label for="card_exp_month">Expiration</label>
		    <select name="card_exp_month" class="form-control card_exp_month" id="card_exp_month" data-stripe="exp_month">
		    	{card_months}
						<option value="{month_digit}">{month_long}</option>
		    	{/card_months}
		    </select>
		     / 
		    <select name="card_exp_month" class="form-control card_exp_year" id="card_exp_year" data-stripe="exp_year">
		    	{card_years}
						<option value="{year}">{year}</option>
		    	{/card_years}
		    </select>
		  </div>
		  <div class="form-group form-group--1-quarter">
		    <label for="card_cvc">CVC</label>
		    <input type="text" class="form-control" id="card_cvc" value="" placeholder="123" name="card_cvc" data-stripe="cvc">
		  </div>
		</div>
		<div class="inline-form-group">
		  <div class="form-group form-group--3-quarters">
		    <label for="customer_name">Name on card</label>
		    <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Card holder name" value="{screen_name}">
		  </div>
		  <div class="form-group form-group--1-quarter">
		    <label for="card_address_zip">Zip Code</label>
		    <input type="text" class="form-control" id="card_address_zip" name="card_address_zip" placeholder="12345" value="">
		  </div>
		</div>
		<div class="inline-form-group">
		  <div class="form-group form-group--1-quarters">
		    <label for="plan_coupon">Promo Code</label>
		    <input type="text" class="form-control" id="plan_coupon" name="plan_coupon" placeholder="Enter Promo Code" value="{plan_coupon}">
		    {if error_plan_coupon}
					<span class="help-text help-text--danger">{error_plan_coupon_message}</span>
				{/if}
		  </div>
		</div>
	  <div class="form-group form-group--button form-group--center">
	    <button class="btn btn--secondary" type="submit">Process Payment</button>
	  </div>
	{/exp:charge:form}
</main>